
@import "./partials/common";
@import "./partials/mixin";


header{
  height: 270px;
  width: $w100;
  .headerWrap{
    width: $w100;
    height: $w100;
    @include flex(column, flex-start, center);
    .logo{
      height: $w80;
      @include flex(row, center, center);
      img{
        height: $w100;
      }
    }
    .navbar{
      width: $w100;
      height: $w25;
      background: $bg_green;
      nav{
        width: 400px;
        height: $w100;
        margin: auto;
        @include flex(row, space-around, center);
        a{
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: 600;
        }
        a.active, a:hover{
          margin-bottom: -5px;
          color: $tx_blue;
          border-bottom: 5px solid $tx_blue;
        }
      }
    }
  }
}

main{
  background-image: url("/img/fondo-pag-speciali.jpg");
  width: $w100;
  h2{
    color: $tx_blue;
    text-shadow: 3px 3px white;
    text-align: center;
    font-size: 2.5rem;
    padding: 20px 0;
    text-transform: uppercase;
  }
  .pasteLunghe, .pasteCorte, .pasteCortissime{
    width: $w90;
    margin: auto;
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    .pastaCard{
      position: relative;
      width: 500px;
      margin: 30px;
      img{
        width: $w100;
        display: block;
      }
      .pastaOverlay{
        height: $w70;
        width: $w100;
        @include flex(column, space-around, center);
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img{
          width: 70px;
        }
        p{
          font-size: 30px;
          font-weight: bold;
        }
      }
    }

    .pastaCard:hover{
      img{
        transition: filter 1s;
        filter: blur(5px);
      }
      .pastaOverlay{
        transition: opacity 1.5s;
        opacity: 1;
        img{
          filter: none;
        }
      }
    }


  }
}
