*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// dimensioni-----------------------------------
$w10: 10%;
$w15: 15%;
$w20: 20%;
$w25: 25%;
$w30: 30%;
$w35: 35%;
$w40: 40%;
$w45: 45%;
$w50: 50%;
$w55: 55%;
$w60: 60%;
$w65: 65%;
$w70: 70%;
$w75: 75%;
$w80: 80%;
$w85: 85%;
$w90: 90%;
$w95: 95%;
$w100: 100%;

// colors-----------------------------------------

// background----
$bg_green: #B1D281;

// color text----
$tx_blue: #002D75;
